Repository 3scale-sre/marin3r, pull requests merged in 2021-06, with the labels that each got.

#102 Reimplement self-healing using internal statistics
  controllers/marin3r/envoyconfigrevision_controller.go
  controllers/marin3r/secrets_controller.go
  controllers/marin3r/suite_test.go
  examples/local/envoy-client-bootstrap.yaml
  go.mod
  go.sum
  pkg/discoveryservice/manager.go
  pkg/discoveryservice/xds_server.go
  pkg/discoveryservice/xds_server_test.go
  pkg/discoveryservice/xdss/stats/kv.go
  pkg/discoveryservice/xdss/stats/kv_test.go
  pkg/discoveryservice/xdss/stats/query.go
  pkg/discoveryservice/xdss/stats/query_test.go
  pkg/discoveryservice/xdss/stats/report.go
  pkg/discoveryservice/xdss/stats/report_test.go
  pkg/discoveryservice/xdss/stats/stats.go
  pkg/discoveryservice/xdss/v2/cache.go
  pkg/discoveryservice/xdss/v2/callbacks.go
  pkg/discoveryservice/xdss/v2/callbacks_test.go
  pkg/discoveryservice/xdss/v3/callbacks.go
  pkg/discoveryservice/xdss/v3/callbacks_test.go
  pkg/envoy/resources/type_urls.go
  pkg/reconcilers/marin3r/envoyconfig/reconcile_revisions.go
  pkg/reconcilers/marin3r/envoyconfig/reconcile_revisions_test.go
  pkg/reconcilers/marin3r/envoyconfigrevision/cache.go
  pkg/reconcilers/marin3r/envoyconfigrevision/finalize.go
  pkg/reconcilers/marin3r/envoyconfigrevision/status.go
  pkg/reconcilers/marin3r/envoyconfigrevision/status_test.go
  pkg/util/backoff/backoff.go
  pkg/util/k8s/util.go
Labels: approved, kind/feature, lgtm, ok-to-test, priority/important-soon, size/XL

#104 Add a name to the V3 file-based SDS tls secret response (second try)
  pkg/envoy/bootstrap/v3/bootstrap.go
  pkg/envoy/bootstrap/v3/bootstrap_test.go
  pkg/envoy/resources/v3/resources.go
Labels: approved, kind/feature, lgtm, needs-priority, ok-to-test, size/XS

#105 Make envoy 1.18.3 the default
  Makefile
  pkg/envoy/container/defaults/defaults.go
  pkg/webhooks/podv1mutator/handle_test.go
  test/e2e/marin3r/envoydeploymet_suite_test.go
  test/e2e/marin3r/pod_suite_test.go
  test/e2e/marin3r/sidecar_suite_test.go
  test/e2e/marin3r/suite_test.go
Labels: approved, kind/feature, lgtm, ok-to-test, priority/important-longterm, size/S

#107 Add documentation about the operator release process
  Makefile
  README.md
  docs/release.md
Labels: approved, kind/documentation, lgtm, ok-to-test, priority/important-soon, size/S

#108 Back to upstream for operator-utils module
  go.mod
  go.sum
Labels: approved, kind/cleanup, lgtm, ok-to-test, priority/important-longterm, size/S

#109 Add code to automatically cleanup EnvoyBootstraps
  controllers/operator.marin3r/discoveryservice_controller.go
Labels: approved, kind/feature, lgtm, ok-to-test, priority/important-soon, size/S
