Repository 3scale-sre/marin3r, pull requests merged in 2022-01, with the labels that each got.

#130 Use the built image as the default for Envoy init and shutdown
  Makefile
  apis/operator.marin3r/v1alpha1/discoveryservice_types.go
  apis/operator.marin3r/v1alpha1/discoveryservice_types_test.go
  generators/pkg-image/go.mod
  generators/pkg-image/go.sum
  generators/pkg-image/main.go
  pkg/envoy/container/defaults/defaults.go
  pkg/image/image.go
  pkg/image/zz_generated.go
Labels: ok-to-test, lgtm, approved, kind/feature, priority/important-soon, size/L

#132 feat/image-env-override
  Makefile
  apis/marin3r/v1alpha1/envoyconfig_webhook.go
  apis/operator.marin3r/v1alpha1/discoveryservice_types.go
  apis/operator.marin3r/v1alpha1/envoydeployment_webhook.go
  cmd/operator.go
  cmd/root.go
  config/crd/bases/operator.marin3r.3scale.net_envoydeployments.yaml
  config/webhook/manifests.yaml
  controllers/marin3r/suite_test.go
  controllers/operator.marin3r/discoveryservice_controller_suite_test.go
  controllers/operator.marin3r/discoveryservicecertificate_controller_suite_test.go
  controllers/operator.marin3r/suite_test.go
  go.mod
  go.sum
  pkg/envoy/container/defaults/defaults.go
  pkg/image/image.go
  pkg/reconcilers/lockedresources/reconciler.go
  pkg/webhooks/podv1mutator/handle.go
Labels: ok-to-test, lgtm, approved, kind/feature, size/M, priority/important-soon

#133 feat/configurable-drain
  README.md
  apis/operator.marin3r/v1alpha1/envoydeployment_types.go
  apis/operator.marin3r/v1alpha1/envoydeployment_types_test.go
  apis/operator.marin3r/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/operator.marin3r.3scale.net_envoydeployments.yaml
  controllers/operator.marin3r/discoveryservice_controller.go
  go.mod
  go.sum
  pkg/envoy/container/defaults/defaults.go
  pkg/envoy/container/generator.go
  pkg/envoy/container/generator_test.go
  pkg/reconcilers/operator/envoydeployment/generators/deployment.go
  pkg/reconcilers/operator/envoydeployment/generators/deployment_test.go
  pkg/webhooks/podv1mutator/handle.go
  pkg/webhooks/podv1mutator/handle_test.go
  pkg/webhooks/podv1mutator/sidecar.go
  pkg/webhooks/podv1mutator/sidecar_test.go
Labels: ok-to-test, lgtm, approved, kind/feature, priority/important-longterm, size/L

#134 Upgrade to go-control-plane v0.10.1
  controllers/marin3r/envoyconfig_controller_suite_test.go
  controllers/marin3r/envoyconfigrevision_controller.go
  controllers/marin3r/envoyconfigrevision_controller_suite_test.go
  generators/pkg-envoy-proto/main.go
  go.mod
  go.sum
  pkg/discoveryservice/xdss/interface.go
  pkg/discoveryservice/xdss/v3/cache.go
  pkg/discoveryservice/xdss/v3/cache_test.go
  pkg/discoveryservice/xdss/v3/callbacks.go
  pkg/discoveryservice/xdss/v3/callbacks_test.go
  pkg/discoveryservice/xdss/v3/snapshot.go
  pkg/discoveryservice/xdss/v3/snapshot_test.go
  pkg/envoy/bootstrap/v3/bootstrap.go
  pkg/envoy/protos/v3/zz_generated.go
  pkg/envoy/resources/equal.go
  pkg/envoy/resources/v3/resources_test.go
  pkg/envoy/serializer/v3/serializer.go
  pkg/envoy/serializer/v3/serializer_test.go
  pkg/envoy/types.go
  pkg/reconcilers/marin3r/envoyconfigrevision/cache.go
  pkg/reconcilers/marin3r/envoyconfigrevision/cache_test.go
  pkg/reconcilers/marin3r/envoyconfigrevision/status_test.go
  pkg/util/hash.go
  pkg/util/test/test.go
  test/e2e/util/generators.go
Labels: ok-to-test, lgtm, approved, kind/feature, priority/important-soon, size/L

#136 Release/v0.10.0
  Makefile
  bundle.Dockerfile
  bundle/manifests/marin3r.3scale.net_envoyconfigrevisions.yaml
  bundle/manifests/marin3r.3scale.net_envoyconfigs.yaml
  bundle/manifests/marin3r.clusterserviceversion.yaml
  bundle/manifests/operator.marin3r.3scale.net_envoydeployments.yaml
  bundle/metadata/annotations.yaml
  config/manager/kustomization.yaml
  config/manifests/bases/marin3r.clusterserviceversion.yaml
  config/webhook/kustomization.yaml
  docs/api-reference/reference.asciidoc
  generators/pkg-envoy-proto/main.go
  generators/pkg-image/main.go
  generators/pkg-version/main.go
  pkg/image/zz_generated.go
  pkg/version/zz_generated.go
  pkg/webhooks/podv1mutator/handle_test.go
Labels: ok-to-test, lgtm, approved, kind/feature, size/M, priority/important-soon

#137 Add operator category to the csv
  bundle/manifests/marin3r.clusterserviceversion.yaml
  config/manifests/bases/marin3r.clusterserviceversion.yaml
Labels: lgtm, approved, priority/important-soon, size/XS, kind/documentation
